html,
body {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media screen and (max-width: 740px) {
  .section {
    scroll-snap-align: none;
    scroll-snap-stop: none;
  }
}
